.footer{
    background-color: #0f0f0f;
    color: rgb(163, 162, 162);
    font-family: garamond;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* align-content: center; */
    padding-left: 10px;
}
.logoimgFooter{
    height: 100px;
    width: 150px;
    margin-right: 30px;
}
/* .logoFooter{
  
} */
.blockFooter{
    margin-right: 10px;
}
.blockFooter a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.blockFooter a:hover{
    color: #7c7c7c;
}
p{
    margin-right: 30px;
}