/* общее */
header{
    font-family: garamond;
    font-size: x-large; 
}
.logoimg {
    margin-left: 20px;
    width: 150px; /* Ширина рисунка */
    height: 100px; /*  Высота рисунка */
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: space-between;
    padding-left: 10px;
    /* background-color: #0f0f0f; */
    background-color: #3d040a;
}
/* меню */
.block{
    margin: 25px;
    margin-left: 35px;

}
.block a{
    text-decoration: none;
    color: white;
}
.block a:hover{
    color: #7c7c7c;
}

.blockForm{
    /* background-color: #3d3c3c; */
    margin-left: 50px;
    width: 45%;
    background-color: #868686;
    border-radius: 20px;
    /* padding-left: 33%; */
}
/* .search{
    border: 4px solid #868686;
    border-radius: 20px;
}
.entrance{
    width: auto;
    height: auto;
} */
.blockForm input{
    background: #ffffff;
    width: 90%;
    height: 35px;
    /* padding-left: 10px; */
    border: 1px solid #5a5a5a;
    border-radius: 20px;
    outline: none;
    background: #e4e4e4;
    color: #9E9C9C;
    padding-left: 15px;
}
.blockForm button {
    border-radius: 15px;
    height: 40px;
    width: 54px;
    position: absolute;
    background: #868686;
    cursor: pointer;
    border: 0px solid #000000;
}
.blockForm button:before {
    margin-left: 12px;
    content: "\25B6";
    font-family: sans-serif;
    color: #575757;
    font-size: 20px;
    font-weight: bold;
}
.blockForm button:hover {
    background-color: #e4e4e4;

}

/* модальное окно */
.blockMod1{
    margin-left: 25px;
}
.blockMod1{
    background-color: #0f0f0f;
    color: white;
}
.blockMod1:hover{
    color: #7c7c7c;
}

.blockMod2{

    margin-left: 30px;
}
.blockMod2 a{
    text-decoration: none;
    color: white;
}
.blockMod2 a:hover{
    color: #7c7c7c;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modalContent{
    font-family: sans-serif;
    border-radius: 20px;
    background-color: #0f0f0f;
    margin: 15% auto;
    padding: 20px;
    border: 4px inset #941111;
    width: 400px;
    color: white; 
    font-size: large;       
}
.modalForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.closeModal{
    color: #ffffff;
    cursor: pointer;
    /* opacity: .75; */
    float: right;
    font-size: 28px;
}
.closeModal:focus,
.closeModal:hover {
    color: #fff7f7;
    cursor: pointer;
    opacity: .75;
}  
.closeModal2{
    color: #ffffff;
    cursor: pointer;
    /* opacity: .75; */
    float: right;
    font-size: 28px;
}
.closeModal2:focus,
.closeModal2:hover {
    color: #fff7f7;
    cursor: pointer;
    opacity: .75;
}      
.initialisation {
    margin-left: 10px;
    margin-top: 25px;
    padding: auto;
    width: 95%;
    height: 50px;
    background-color: #0f0f0f;
    cursor: pointer;
    color: white;
    grid-column-start: span 2;
    border: 4px inset  rgb(220, 100, 100);
    border-radius: 20px;
}
.initialisation:hover {
    background: #941111;
    font-size: large;
}
.inputModal {
    float: right;
    padding-left: 20px;
    border-radius: 25px;
    height: 50px;
    width: 290px;
}
.inputModal:hover{
    box-shadow: 3px 3px 13px  rgb(240, 128, 128), -3px -3px 13px  rgb(240, 128, 128);
}
.Inputs{
    margin-bottom: 15px;
}
#myBtn{
    color: white;
    background-color: #3d040a;
    border: 0px;
    cursor: pointer;
    font-family: garamond;
    font-size: x-large;
}
#myBtn:hover{
    color: #7c7c7c;
}
#myBtn2{
    color: white;
    background-color: #3d040a;
    border: 0px;
    cursor: pointer;
    font-family: garamond;
    font-size: x-large;
}
#myBtn2:hover{
    color: #7c7c7c;
}
/* .Inputs{
    padding: 15px;
} */
/* .zaregVhod {
    margin: auto;
} */
